<div class="container rounded-4 shadow-lg mt-5 bg-white">
  <div class="row">
    <div class="col-12 text-center fw-semibold h2 my-3">Users</div>
    <div class="col-12">
      <button class="btn btn-primary rounded-4 mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal"
              (click)="isUpdate=false; user = {id: -1, firstname: '', lastname: '', email: '', phone: ''}">Create User
      </button>
    </div>
  </div>
  <div class="row" *ngIf="users.length == 0">
    <div class="col-12 d-flex justify-content-center my-5">
      <div class="spinner-border" role="status" style="width: 5rem; height: 5rem;">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="users.length > 0">

    <div class="col-12 table-responsive">
      <table class="table text-center">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Firstname</th>
          <th scope="col">Lastname</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of users">
          <th scope="row">{{ item.id }}</th>
          <td>{{ item.firstname }}</td>
          <td>{{ item.lastname }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.phone }}</td>
          <td>
            <button class="btn rounded-pill btn-primary me-1" (click)="isUpdate=true; user=item" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">Edit
            </button>
            <button class="btn rounded-pill btn-danger" (click)="cancelUser(item.id)">Cancel</button>
          </td>
        </tr>
        </tbody>
      </table>

      <!--<nav>
        <ul class="pagination d-flex justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#" data-bs-toggle="tooltip" data-bs-title="First Page"><<</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#" data-bs-toggle="tooltip" data-bs-title="Previous"><</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#" data-bs-toggle="tooltip" data-bs-title="Next">></a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#" data-bs-toggle="tooltip" data-bs-title="Last Page">>></a>
          </li>
        </ul>
      </nav>-->
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Create User</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3 row">
          <label for="firstname" class="col-sm-2 col-form-label">Firstname:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="firstname" [(ngModel)]="user.firstname">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="lastname" class="col-sm-2 col-form-label">Lastname</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="lastname" [(ngModel)]="user.lastname">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="email" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="email" [(ngModel)]="user.email">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="phone" class="col-sm-2 col-form-label">Phone</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="phone" [(ngModel)]="user.phone">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="updateUser()" *ngIf="isUpdate">
          Save Changes
        </button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="createUser()" *ngIf="!isUpdate">
          Save
        </button>
      </div>
    </div>
  </div>
</div>
